
{# TODO

- /etc/skel/.pythonrc
- PYTHONHASHSEED
- Test on RedHat

#}
{% set python = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'python',
        'dev_pkgs': [
            'libssl-dev',
            'python-dev'
        ],
    },
    'RedHat': {
        'pkg': 'python2.7',
        'dev_pkgs': [
            'openssl-devel',
            'python-devel'
        ],
    }
}, merge=salt['pillar.get']('python:lookup')) %}


{% set python3 = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'python3',
        'dev_pkgs': [
            'python3-dev',
            'libssl-dev',
        ],
    },
    'RedHat': {
        'pkg': 'python3',
        'dev_pkgs': [
            'python3-devel',
            'openssl-devel',
        ],
    }
}, merge=salt['pillar.get']('python:lookup3')) %}
